.btn {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 56px;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 20px;
    transition: .2s;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    border-color: #5e72e4;
    background-color: #324cdd;
}
.btn-primary {
    color: #fff;
    border-color: #5e72e4;
    background-color: #5e72e4;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.btn-primary:hover {
    color: #fff;
    border-color: #5e72e4;
    background-color: #5e72e4;
}
.btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.send-form {
    max-width: 500px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-group-v18 label {
	font-size: 12px;
	font-weight: 700;
	margin-bottom: 8px;
	color: #a7a8ab;
}
.form-group-v18 .form-control {
    font-size: 14px;
    padding: 12px 20px;
    transition: box-shadow .15s ease;
    border: none;
    box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
    color: #8898aa;
    height: auto;
    border-radius: 6px;
    outline: none;
    border: 1px solid transparent;
}
.form-control::placeholder {
    opacity: 1;
    color: #adb5bd;
}
.form-control:focus {
    border-color: blue;
}
.form-group-v18 .form-control:focus {
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.form-group-v18 .form-text {
    font-size: 11px;
    color: #969696 !important;
    margin-top: 7px;
}

